In [39]:
import requests
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler, LabelEncoder
import seaborn as sns
import matplotlib.pyplot as plt

In [40]:
res = requests.get("http://127.0.0.1:8000/dataset-pokemon")
data = pd.DataFrame(res.json())

In [41]:
data

,nome,altura,peso,experiencia_base,tipo_principal,hp,ataque,defesa,ataque_especial,defesa_especial,velocidade,qtd_habilidades,qtd_movimentos
0,bulbasaur,7,69,64,grass,45,49,49,65,65,45,2,86
1,ivysaur,10,130,142,grass,60,62,63,80,80,60,2,83
2,venusaur,20,1000,236,grass,80,82,83,100,100,80,2,96
3,charmander,6,85,62,fire,39,52,43,60,50,65,2,105
4,charmeleon,11,190,142,fire,58,64,58,80,65,80,2,103
...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,iron-thorns,16,3030,285,rock,100,134,110,70,84,72,1,75
995,frigibax,5,170,64,dragon,65,75,45,35,45,55,2,35
996,arctibax,8,300,148,dragon,90,95,66,45,65,62,2,36
997,baxcalibur,21,2100,300,dragon,115,145,92,75,86,87,2,53
998,gimmighoul,3,50,60,ghost,45,30,70,75,70,10,1,18

In [42]:
pokemon = [
    "Bulbasaur", "Ivysaur", "Venusaur", "Charmander", "Charmeleon", "Charizard",
    "Squirtle", "Wartortle", "Blastoise", "Caterpie", "Metapod", "Butterfree",
    "Weedle", "Kakuna", "Beedrill", "Pidgey", "Pidgeotto", "Pidgeot",
    "Rattata", "Raticate", "Spearow", "Fearow", "Ekans", "Arbok",
    "Pikachu", "Raichu", "Sandshrew", "Sandslash", "Nidoran♀", "Nidorina",
    "Nidoqueen", "Nidoran♂", "Nidorino", "Nidoking", "Clefairy", "Clefable",
    "Vulpix", "Ninetales", "Jigglypuff", "Wigglytuff", "Zubat", "Golbat",
    "Oddish", "Gloom", "Vileplume", "Paras", "Parasect", "Venonat", "Venomoth",
    "Diglett", "Dugtrio", "Meowth", "Persian", "Psyduck", "Golduck",
    "Mankey", "Primeape", "Growlithe", "Arcanine", "Poliwag", "Poliwhirl",
    "Poliwrath", "Abra", "Kadabra", "Alakazam", "Machop", "Machoke",
    "Machamp", "Bellsprout", "Weepinbell", "Victreebel", "Tentacool",
    "Tentacruel", "Geodude", "Graveler", "Golem", "Ponyta", "Rapidash",
    "Slowpoke", "Slowbro", "Magnemite", "Magneton", "Farfetch’d",
    "Doduo", "Dodrio", "Seel", "Dewgong", "Grimer", "Muk", "Shellder",
    "Cloyster", "Gastly", "Haunter", "Gengar", "Onix", "Drowzee", "Hypno",
    "Krabby", "Kingler", "Voltorb", "Electrode", "Exeggcute", "Exeggutor",
    "Cubone", "Marowak", "Hitmonlee", "Hitmonchan", "Lickitung",
    "Koffing", "Weezing", "Rhyhorn", "Rhydon", "Chansey", "Tangela",
    "Kangaskhan", "Horsea", "Seadra", "Goldeen", "Seaking", "Staryu",
    "Starmie", "Mr. Mime", "Scyther", "Jynx", "Electabuzz", "Magmar",
    "Pinsir", "Tauros", "Magikarp", "Gyarados", "Lapras", "Ditto",
    "Eevee", "Vaporeon", "Jolteon", "Flareon", "Porygon", "Omanyte",
    "Omastar", "Kabuto", "Kabutops", "Aerodactyl", "Snorlax",
    "Articuno", "Zapdos", "Moltres", "Dratini", "Dragonair",
    "Dragonite", "Mewtwo", "Mew"
]

In [43]:
pokemon = [p.lower() for p in pokemon]

data_gen1 = data[data["nome"].str.lower().isin(pokemon)]

In [44]:
data_gen1

,nome,altura,peso,experiencia_base,tipo_principal,hp,ataque,defesa,ataque_especial,defesa_especial,velocidade,qtd_habilidades,qtd_movimentos
0,bulbasaur,7,69,64,grass,45,49,49,65,65,45,2,86
1,ivysaur,10,130,142,grass,60,62,63,80,80,60,2,83
2,venusaur,20,1000,236,grass,80,82,83,100,100,80,2,96
3,charmander,6,85,62,fire,39,52,43,60,50,65,2,105
4,charmeleon,11,190,142,fire,58,64,58,80,65,80,2,103
...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,dratini,18,33,60,dragon,41,64,45,50,50,50,2,86
147,dragonair,40,165,147,dragon,61,84,65,70,70,70,2,84
148,dragonite,22,2100,270,dragon,91,134,95,100,100,80,2,137
149,mewtwo,20,1220,306,psychic,106,110,90,154,90,130,2,167
150,mew,4,40,270,psychic,100,100,100,100,100,100,1,375

In [45]:
data_gen1.info()

<class 'pandas.DataFrame'>
Index: 147 entries, 0 to 150
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nome              147 non-null    str
 1   altura            147 non-null    int64
 2   peso              147 non-null    int64
 3   experiencia_base  147 non-null    int64
 4   tipo_principal    147 non-null    str
 5   hp                147 non-null    int64
 6   ataque            147 non-null    int64
 7   defesa            147 non-null    int64
 8   ataque_especial   147 non-null    int64
 9   defesa_especial   147 non-null    int64
 10  velocidade        147 non-null    int64
 11  qtd_habilidades   147 non-null    int64
 12  qtd_movimentos    147 non-null    int64
dtypes: int64(11), str(2)
memory usage: 16.1 KB

In [46]:
data_gen1.describe()

,altura,peso,experiencia_base,hp,ataque,defesa,ataque_especial,defesa_especial,velocidade,qtd_habilidades,qtd_movimentos
count,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000
mean,12.068027,466.204082,135.986395,64.646259,73.272109,68.639456,67.346939,66.102041,69.306122,2.605442,94.503401
std,9.711355,600.302446,67.957882,28.839376,26.863827,27.122994,28.607800,23.932764,27.181433,0.568076,36.037152
min,2.000000,1.000000,39.000000,10.000000,5.000000,5.000000,15.000000,20.000000,15.000000,1.000000,1.000000
25%,7.000000,99.500000,65.000000,45.000000,52.000000,50.000000,45.000000,50.000000,46.500000,2.000000,81.000000
50%,10.000000,300.000000,142.000000,60.000000,70.000000,65.000000,65.000000,70.000000,70.000000,3.000000,91.000000
75%,15.000000,577.500000,177.500000,80.000000,93.500000,85.000000,87.500000,80.000000,90.000000,3.000000,104.000000
max,88.000000,4600.000000,395.000000,250.000000,134.000000,180.000000,154.000000,125.000000,150.000000,3.000000,375.000000

In [47]:
le = LabelEncoder()
data_gen1["tipo_principal"] = le.fit_transform(data_gen1["tipo_principal"])

In [48]:
colunas_numericas = data_gen1.select_dtypes(include=[np.number]).columns.tolist()

scaler = StandardScaler()
data_scaled = scaler.fit_transform(data_gen1[colunas_numericas])
data_scaled = pd.DataFrame(data_scaled, columns=colunas_numericas)

In [49]:
data_scaled

,altura,peso,experiencia_base,tipo_principal,hp,ataque,defesa,ataque_especial,defesa_especial,velocidade,qtd_habilidades,qtd_movimentos
0,-0.523650,-0.663935,-1.062901,-0.306202,-0.683559,-0.906613,-0.726564,-0.082319,-0.046205,-0.897275,-1.069421,-0.236769
1,-0.213677,-0.561973,0.088793,-0.306202,-0.161659,-0.421036,-0.208632,0.443806,0.582694,-0.343541,-1.069421,-0.320301
2,0.819565,0.892252,1.476731,-0.306202,0.534208,0.326005,0.531270,1.145306,1.421225,0.394771,-1.069421,0.041671
3,-0.626975,-0.637191,-1.092432,-0.745341,-0.892320,-0.794557,-0.948535,-0.257694,-0.675103,-0.158963,-1.069421,0.292267
4,-0.110353,-0.461681,0.088793,-0.745341,-0.231246,-0.346332,-0.393608,0.443806,-0.046205,0.394771,-1.069421,0.236579
...,...,...,...,...,...,...,...,...,...,...,...,...
142,0.612917,-0.724110,-1.121962,-1.623618,-0.822733,-0.346332,-0.874545,-0.608444,-0.675103,-0.712697,-1.069421,-0.236769
143,2.886051,-0.503469,0.162619,-1.623618,-0.126866,0.400709,-0.134642,0.093056,0.163428,0.025615,-1.069421,-0.292457
144,1.026214,2.730926,1.978752,-1.623618,0.916935,2.268311,0.975212,1.145306,1.421225,0.394771,-1.069421,1.183276
145,0.819565,1.259987,2.510303,0.791645,1.438836,1.371862,0.790236,3.039357,1.001960,2.240551,-1.069421,2.018596
146,-0.833623,-0.712410,1.978752,0.791645,1.230075,0.998341,1.160188,1.145306,1.421225,1.133083,-2.835768,7.810150

In [50]:
kmeans = KMeans(n_clusters=6, random_state=18, n_init=10)
data_gen1['cluster'] = kmeans.fit_predict(data_scaled)

In [51]:
data_gen1

,nome,altura,peso,experiencia_base,tipo_principal,hp,ataque,defesa,ataque_especial,defesa_especial,velocidade,qtd_habilidades,qtd_movimentos,cluster
0,bulbasaur,7,69,64,7,45,49,49,65,65,45,2,86,2
1,ivysaur,10,130,142,7,60,62,63,80,80,60,2,83,4
2,venusaur,20,1000,236,7,80,82,83,100,100,80,2,96,4
3,charmander,6,85,62,5,39,52,43,60,50,65,2,105,2
4,charmeleon,11,190,142,5,58,64,58,80,65,80,2,103,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,dratini,18,33,60,1,41,64,45,50,50,50,2,86,2
147,dragonair,40,165,147,1,61,84,65,70,70,70,2,84,4
148,dragonite,22,2100,270,1,91,134,95,100,100,80,2,137,3
149,mewtwo,20,1220,306,12,106,110,90,154,90,130,2,167,1
150,mew,4,40,270,12,100,100,100,100,100,100,1,375,1

In [52]:
features = ["hp", "ataque", "defesa", "ataque_especial", "defesa_especial", "velocidade", "qtd_habilidades", "qtd_movimentos"]
data_gen1['total_stats'] = data_gen1[features].sum(axis=1)

In [53]:
data_gen1

,nome,altura,peso,experiencia_base,tipo_principal,hp,ataque,defesa,ataque_especial,defesa_especial,velocidade,qtd_habilidades,qtd_movimentos,cluster,total_stats
0,bulbasaur,7,69,64,7,45,49,49,65,65,45,2,86,2,406
1,ivysaur,10,130,142,7,60,62,63,80,80,60,2,83,4,490
2,venusaur,20,1000,236,7,80,82,83,100,100,80,2,96,4,623
3,charmander,6,85,62,5,39,52,43,60,50,65,2,105,2,416
4,charmeleon,11,190,142,5,58,64,58,80,65,80,2,103,4,510
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,dratini,18,33,60,1,41,64,45,50,50,50,2,86,2,388
147,dragonair,40,165,147,1,61,84,65,70,70,70,2,84,4,506
148,dragonite,22,2100,270,1,91,134,95,100,100,80,2,137,3,739
149,mewtwo,20,1220,306,12,106,110,90,154,90,130,2,167,1,849
150,mew,4,40,270,12,100,100,100,100,100,100,1,375,1,976

In [54]:
time_ideal = data_gen1.sort_values('total_stats', ascending=False).drop_duplicates('cluster')

In [55]:
time_ideal

,nome,altura,peso,experiencia_base,tipo_principal,hp,ataque,defesa,ataque_especial,defesa_especial,velocidade,qtd_habilidades,qtd_movimentos,cluster,total_stats
150,mew,4,40,270,12,100,100,100,100,100,100,1,375,1,976
148,dragonite,22,2100,270,1,91,134,95,100,100,80,2,137,3,739
143,articuno,17,554,261,9,90,85,100,95,125,85,2,88,4,670
8,blastoise,16,855,239,14,79,83,100,85,105,78,2,120,0,652
113,tangela,10,350,87,7,65,55,115,100,40,60,3,81,5,519
69,weepinbell,10,64,137,7,65,90,50,85,45,55,2,82,2,474