In [25]:
import requests
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import seaborn as sns
import matplotlib.pyplot as plt

In [26]:
res = requests.get("http://127.0.0.1:8000/dataset-pokemon")
data = pd.DataFrame(res.json())

In [27]:
data

,nome,altura,peso,experiencia_base,tipo_principal,hp,ataque,defesa,ataque_especial,defesa_especial,velocidade,qtd_habilidades,qtd_movimentos
0,bulbasaur,7,69,64,grass,45,49,49,65,65,45,2,86
1,ivysaur,10,130,142,grass,60,62,63,80,80,60,2,83
2,venusaur,20,1000,236,grass,80,82,83,100,100,80,2,96
3,charmander,6,85,62,fire,39,52,43,60,50,65,2,105
4,charmeleon,11,190,142,fire,58,64,58,80,65,80,2,103
...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,iron-thorns,16,3030,285,rock,100,134,110,70,84,72,1,75
995,frigibax,5,170,64,dragon,65,75,45,35,45,55,2,35
996,arctibax,8,300,148,dragon,90,95,66,45,65,62,2,36
997,baxcalibur,21,2100,300,dragon,115,145,92,75,86,87,2,53
998,gimmighoul,3,50,60,ghost,45,30,70,75,70,10,1,18

In [28]:
data.info()

<class 'pandas.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   nome              999 non-null    str
 1   altura            999 non-null    int64
 2   peso              999 non-null    int64
 3   experiencia_base  999 non-null    int64
 4   tipo_principal    999 non-null    str
 5   hp                999 non-null    int64
 6   ataque            999 non-null    int64
 7   defesa            999 non-null    int64
 8   ataque_especial   999 non-null    int64
 9   defesa_especial   999 non-null    int64
 10  velocidade        999 non-null    int64
 11  qtd_habilidades   999 non-null    int64
 12  qtd_movimentos    999 non-null    int64
dtypes: int64(11), str(2)
memory usage: 101.6 KB

In [29]:
data.describe()

,altura,peso,experiencia_base,hp,ataque,defesa,ataque_especial,defesa_especial,velocidade,qtd_habilidades,qtd_movimentos
count,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000,999.000000
mean,11.987988,646.662663,148.064064,69.659660,77.063063,71.871872,69.406406,69.645646,66.560561,2.376376,77.121121
std,12.467587,1181.053028,76.917804,26.564556,29.727773,29.165851,29.364665,26.568031,28.463493,0.733183,26.463427
min,1.000000,1.000000,36.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.000000,1.000000
25%,5.000000,85.000000,66.000000,50.000000,55.000000,50.000000,45.000000,50.000000,45.000000,2.000000,62.000000
50%,10.000000,280.000000,157.000000,66.000000,75.000000,68.000000,65.000000,65.000000,65.000000,3.000000,77.000000
75%,15.000000,660.500000,182.000000,82.000000,100.000000,90.000000,90.000000,85.000000,85.000000,3.000000,92.000000
max,200.000000,9999.000000,608.000000,255.000000,181.000000,230.000000,173.000000,230.000000,200.000000,3.000000,375.000000

In [30]:
# 3. Normalizar os dados (Essencial para K-Means)
scaler = StandardScaler()
data_scaled = scaler.fit_transform(data)

ValueError: could not convert string to float: 'bulbasaur'

In [ ]:
# 4. Criar 6 Clusters (Um para cada vaga no time)
kmeans = KMeans(n_clusters=6, random_state=18, n_init=10)
data['cluster'] = kmeans.fit_predict(data_scaled)

In [ ]:
data

,nome,altura,peso,experiencia_base,tipo_principal,hp,ataque,defesa,ataque_especial,defesa_especial,velocidade,qtd_habilidades,qtd_movimentos,cluster,total_stats
0,bulbasaur,7,69,64,grass,45,49,49,65,65,45,2,86,1,318
1,ivysaur,10,130,142,grass,60,62,63,80,80,60,2,83,0,405
2,venusaur,20,1000,236,grass,80,82,83,100,100,80,2,96,2,525
3,charmander,6,85,62,fire,39,52,43,60,50,65,2,105,1,309
4,charmeleon,11,190,142,fire,58,64,58,80,65,80,2,103,0,405
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,iron-thorns,16,3030,285,rock,100,134,110,70,84,72,1,75,3,570
995,frigibax,5,170,64,dragon,65,75,45,35,45,55,2,35,1,320
996,arctibax,8,300,148,dragon,90,95,66,45,65,62,2,36,3,423
997,baxcalibur,21,2100,300,dragon,115,145,92,75,86,87,2,53,3,600
998,gimmighoul,3,50,60,ghost,45,30,70,75,70,10,1,18,1,300

In [ ]:
# 5. Montar o "Time Ideal" pegando o melhor de cada cluster
# Vamos critério: o Pokémon com a maior soma de atributos em cada cluster
features = ['hp', 'ataque', 'defesa', 'ataque_especial', 'defesa_especial', 'velocidade']
data['total_stats'] = data[features].sum(axis=1)

In [ ]:
data

In [ ]:
time_ideal = data.sort_values('total_stats', ascending=False).drop_duplicates('cluster')

In [ ]:
time_ideal

,nome,altura,peso,experiencia_base,tipo_principal,hp,ataque,defesa,ataque_especial,defesa_especial,velocidade,qtd_habilidades,qtd_movimentos,cluster,total_stats
492,arceus,32,3200,324,normal,120,120,120,120,120,120,1,173,2,720
485,regigigas,37,4200,302,normal,110,160,110,80,110,100,1,85,3,670
288,slaking,20,1305,252,normal,150,160,100,95,65,100,1,127,5,670
806,zeraora,15,445,270,electric,88,112,75,102,80,143,1,83,0,600
718,diancie,7,88,270,rock,50,100,150,100,150,50,1,90,4,600
909,crocalor,10,307,144,fire,81,55,78,90,58,49,2,43,1,411